<div *ngIf="conver">

<img width="50px"src="https://s-media-cache-ak0.pinimg.com/736x/0a/8b/91/0a8b91f0bfbbcbc65fb7d43cd9ff4c78--grey-bunny-cutest-bunnies.jpg" alt="" class="circle">
      <span class="title">{{conver.user.username}}</span>
     

  <div class="header"> {{conver.workflow.title}} - {{conver.created_at}}</div>
  <div> {{conver.messages.length}} messages</div>

  <ul  materialize="collapsible" class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header header">Messages </div>
    <div class="collapsible-body">
    <app-comment-list [messageList]="conver.messages" [newComment]= "newComment"></app-comment-list>
    </div>
</li>
</ul>

<ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header header"><i class="material-icons">message</i></div>
    <div class="collapsible-body">
    <app-comment-form  converId="{{conver._id}}" (commentsUpdated)="handleMessageUpdated($event)"></app-comment-form>
    </div>
</li>
</ul>

  

</div>

  
