<div class="row comment-form">

  <div class="col s2">
   <img width="50px"src="https://s-media-cache-ak0.pinimg.com/736x/0a/8b/91/0a8b91f0bfbbcbc65fb7d43cd9ff4c78--grey-bunny-cutest-bunnies.jpg" alt="" class="circle">
      <span class="recuadro header">{{user.username}}</span>
     
  </div>

    <form class="col s10" (ngSubmit)="submitForm(myForm)" #myForm="ngForm" novalidate>
      <div class="row">
        <div class="input-field">
          <input placeholder="Title" id="title" type="text" class="validate title2" ngModel name="title">
          <label for="title">Title</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field">
          <textarea class="materialize-textarea textarea" id="text" materialize="characterCounter" length="100"  class="validate" ngModel name="text"></textarea>
          <label for="text">Content</label>
        </div>
      </div>
      
      
    
      <div *ngIf="error">
          {{ error }}
      </div>
     <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
          </button>
    </form>
  </div>
