<div class="col s3">
      <app-user-card *ngIf="creator" [user]="creator.id" [isProfile]="false"></app-user-card>
 </div>



 <div class="col s9">
<div *ngIf="workflow" class="card">

 <div class="header">Title: </div>
 <div class="title">{{workflow.title}} </div>
 <span *ngIf="allowEdits" (click)= "editWorkflow(workflow._id)" ><i class="material-icons">edit</i></span>


<div class="header">Category:</div>
<div class="chip">{{workflow.category}} </div>

<div class="header">Snippet:</div>

<div *ngIf="showComments">     
<ul  materialize="collapsible" class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header header">Comment </div>
    <div class="collapsible-body">
    <app-comment-list [newComment]= "newComment"></app-comment-list>
    </div>
</li>
</ul>

<ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header header"><i class="material-icons">message</i></div>
    <div class="collapsible-body">
    <app-comment-form (commentsUpdated)="handleCommentUpdated($event)"></app-comment-form>
    </div>
</li>
</ul>

</div>

  <div *ngIf="allowChecks"> 
    <button (click)= "approveWorkflow()">Approve</button> 
    <button (click)= "deleteWorkflow(workflow._id)">Delete</button> 
  </div>


   </div>
  
  </div>
