<div class="col s3">
      <app-user-card *ngIf="creator" [user]="creator.id" [isProfile]="false" [isWf]="true"></app-user-card>
 </div>



 <div class="col s9 ">
<div *ngIf="workflow" class="card">
  <div *ngIf="allowChecks" class="center"> 
    <button class="btn" (click)= "approveWorkflow()">Approve</button> 
    <button  class="btn" (click)= "deleteWorkflow(workflow._id)">Delete</button> 
    <button  class="btn" (click)= "showHide =!showHide">Send Comment</button>
     <div *ngIf="showHide">
  <app-comment-form [workflowId]="workflowId" [creatorId]="creator.id._id"></app-comment-form>
</div>
   </div>


 <div class="field">
   <span  class="label">Title</span> 
 <span class="title">{{workflow.title}}</span>  <span *ngIf="allowEdits" (click)= "editWorkflow(workflow._id)" ><i class="material-icons">edit</i></span></div>

 <div class="field">
   <span  class="label">Tags</span> 
<span class="chip">{{workflow.category}} </span>
<span class="chip">{{workflow.languages}} </span>
</div>

<div class="field">
   <span  class="label">Description</span> 
<div class="textarea">{{workflow.description}} </div>
</div>

<div class="field">
  <div class="label">Snippet:</div>
  <iframe src="../../../assets/workflows/code.txt" class="code" scrolling="yes"></iframe>
</div>

<div *ngIf="showComments">     
<ul  materialize="collapsible" class="collapsible message-form" data-collapsible="accordion">
  <li>
    <div class="collapsible-header header"> <span class="to-right">  Comments </span></div>
    <div class="collapsible-body">
    <app-comment-list [newComment]= "newComment"></app-comment-list>
    </div>
</li>
</ul>

<ul *ngIf="this.session.isAuthenticated" materialize="collapsible" class="collapsible message-form" data-collapsible="accordion">
  <li>
    <div class="collapsible-header header"><span class="to-right">Leave a comment</span><i class="material-icons right">message</i></div>
    <div class="collapsible-body">
    <app-comment-form (commentsUpdated)="handleCommentUpdated($event)"></app-comment-form>
    </div>
</li>
</ul>

</div>


  </div>
  
  </div>
