.title {
    font-weight: bolder;
    color: #26A69A;

}

.header {
    font-weight: bolder;
    font-size: 1.2rem;

}


.main-nav {
    /*position: fixed;*/
    width:200px;
    height: 500px;
    background-repeat: repeat;
}









