
<h2>Form</h2>

  <div class="row">
    <form class="col s12" (ngSubmit)="submitForm(myForm)" #myForm="ngForm" novalidate>
      <div class="row">
        <div class="input-field col s6">
          <input  id="title" type="text" class="validate" [ngModel]="workflow ? workflow.title : ''" name="title">
          <label for="title">Title</label>
        </div>
      </div>
     
    <div class="row">
      <div class="file-field input-field col s6">
          <div class="btn">
          <span>File</span>
          <input type="file" ngModel name="file">
          </div>
          <div class="file-path-wrapper">
          <input class="file-path validate" type="text"  ng2FileSelect [uploader]="uploader" >
      </div>
    </div>
    
    </div>
        
        <div class="input-field col s6">
          <select materialize="material_select" name="languages" [ngModel]="workflow ? workflow.languages[0] : ''">
            <option value="" disabled selected>Languages</option>
            <option *ngFor="let language of languages" value="{{language}}" >{{language}}</option>
          </select>
          <label>Languages</label>
        </div>

        <div class="input-field col s6">
          <select materialize="material_select" name="category" [ngModel]="workflow ? workflow.category : ''">
            <option value="" disabled selected>Category</option>
            <option *ngFor="let category of categories" value="{{category}}" [attr.selected]="workflow?.category === category ? 'selected':null" >{{category}}</option>

          </select>
          <label>Category</label>
        </div>
      
      <div *ngIf="error">
          {{ error }}
      </div>

       <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
          </button>
      
    </form>
    </div>
  
 




